<div id="app" class="mb-12">
    <h1 class="heading text-xl text-center mb-4">{{ greeting }}</h1>
    <div class="stories-container grid grid-cols-4 gap-2 w-full">
        <% stories.forEach(story=> { %>
            <div class="single-story flex flex-col border m-auto mb-4">
                <div class="upper-row flex items-center justify-between p-2">
                    <div class="story-name text-lg"><%= story.title %></div>
                    <div class="story-date text-sm"><%= story.publish_date %></div>
                </div>
                <img src="<%= story.preview %>">
                <div class="author-row flex items-center justify-between p-2">
                    <span class="text-sm"><%= story.author.username %></span>
                    <img class="w-12 h-12 rounded-full object-cover" src="<%= story.author.avatar %>">
                </div>
            </div>
        <% }); %>
    </div>

    <button
        @click="loadStories"
        class="text-lg text-center uppercase font-semibold
        bg-blue-500 text-white p-4 rounded
        flex m-auto duration-300 ease-in cursor-pointer
        hover:scale-125
    ">
        Load More
    </button>
</div>
<script>
  const LIMIT = 10;
  window.Stories = JSON.parse('<%- JSON.stringify(stories) %>')


  var app = new Vue({
    el: '#app',
    data: {
      stories: window.Stories,
      offset: window.Stories.length,
      greeting: 'Stories',
    },
    methods: {
      async loadStories() {
        const res = await axios.get(`allStories/?offset=${this.offset}&limit=${LIMIT}`);
        console.log(res.data);
      }
    }
  })
</script>
